body {
    min-width: 320px;
    max-width: 540px;
    font: 400 16px/1.5 PingFangSC-regular,Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    margin: 0 auto;
    background: #fafafc;
    color: #000000;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #222;
}

div {
    box-sizing: border-box;
}

/* 搜索模块 */
.search-index {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    /* 兼容老版本浏览器 */
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /* 固定的盒子要有宽度 */
    width: 100%;
    max-width: 320px;
    max-width: 540px;
    height: 44px;
    /* background-color: bisque; */
}

.search {
    position: relative;
    height: 28px;
    /* 行高是算上border的 因此要去掉border再算行高 */
    line-height: 26px;
    font-size: 12px;
    border: 1px solid #ccc;
    flex: 1; 
    margin: 8px;
    border-radius: 15px;
    padding-left: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    
}

.search::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 8px;
    width: 16px;
    height: 16px;
    background: url("../images/home-common-sprite2x@v7.15.png") no-repeat 0 0;
    background-size: 22px auto;
}

.user {
    font-size: 12px;
    text-align: center;
    width: 51px;
    height: 44px;
    /* background-color: cadetblue; */
    color: #fff;
}

.user::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../images/home-common-sprite2x@v7.15.png) no-repeat 0 -37px;
    background-size: 22px auto;
    margin: 3px auto 0;
}

.focus img {
    /* position: relative;s */
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.local-nav {
    display: flex;
    height: 64px;
    background: #fff;
    margin: -52px 4px;
    border-radius: 8px;
    font-size: 12px;
}

.local-nav li {
    flex: 1;
}

.local-nav a {
    display: flex;
    flex-direction: column;
    /* 侧轴居中对齐 */
    align-items: center;
    justify-content: center;
}

.local-nav li [class^="local-nav-icon"] {
    width: 40px;
    height: 40px;
    background: url(../images/home-fivemain-sprite2x@v7.15.png) no-repeat 0 0;
    background-size: 40px auto;
}

.local-nav li .local-nav-icon-icon2 {
    background-position: 0 -40px;
}

.local-nav li .local-nav-icon-icon3 {
    background-position: 0 -80px;
}

.local-nav li .local-nav-icon-icon4 {
    background-position: 0 -120px;
}

.local-nav li .local-nav-icon-icon5 {
    background-position: 0 -160px;
}

/* nav */
nav {
    overflow: hidden;
    border-radius: 8px;
    margin: 55px 4px 3px;
}

.nav-common {
    display: flex;
    height: 88px;
    background-color: coral;
}

/* 加线性渐变色背景 若左上角到右下角：left, top 即可*/
.nav-common:nth-child(1) {
    background: -webkit-linear-gradient(left, #FA5A55, #FA994D);
}

.nav-common:nth-child(2) {
    margin: 1px 0;
    background: -webkit-linear-gradient(left, #4B90ED, #53BCED);
}

.nav-common:nth-child(3) {
    background: -webkit-linear-gradient(left, #34C2A9, #6CD559);
}

.nav-items {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.nav-items a {
    flex: 1;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-size: 14px;
    /* 文字阴影 */
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.nav-items:nth-child(n+2) a:nth-child(1) {
    border-bottom: 1px solid #fff;
}

.nav-items:nth-child(1) a {
    border: 0;
    background: url(../images/grid-nav-items-hotel@v7.15.png) no-repeat bottom right;
    background-size: 73px auto;
}

/* 因为各个框之间有白线 因此考虑给前两个加白边框(-n+x 从左往右共x个  n+x 从第x个开始) */
.nav-items:nth-child(-n+3) {
    border-right: 1px solid #fff;
}

/* 侧导航栏 */
.subnav-entry {
    display: flex;
    margin: 0 4px;
    border-radius: 8px;
    background-color: #fff;
    flex-wrap: wrap;
    padding: 5px 0;
    box-shadow: 1px rgba(0, 0, 0, 0.2);
}

.subnav-entry li {
    /* 子盒子可以写百分比 来完成换行 */
    flex: 20%;
}

.subnav-entry a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}

/* .subnav-entry-icon{
    width: 28px;
    height: 28px;
    margin-top: 8px;
    background: url(../images/un_ico_subnav2x@v7.152.png) no-repeat 0 0;
    background-size: 28px auto;
} */

.subnav-entry li [class^="subnav-entry-icon"] {
    width: 28px;
    height: 28px;
    margin-top: 8px;
    background: url(../images/un_ico_subnav2x@v7.152.png) no-repeat 0 0;
    background-size: 28px auto;
}
.subnav-entry li .subnav-entry-icon-icon2 {
    background-position: 0 -28px;
}
.subnav-entry li .subnav-entry-icon-icon3 {
    background-position: 0 -56px;
}
.subnav-entry li .subnav-entry-icon-icon4 {
    background-position: 0 -84px;
}
.subnav-entry li .subnav-entry-icon-icon5 {
    background-position: 0 -112px;
}
.subnav-entry li .subnav-entry-icon-icon6 {
    background-position: 0 -140px;
}
.subnav-entry li .subnav-entry-icon-icon7 {
    background-position: 0 -168px;
}
.subnav-entry li .subnav-entry-icon-icon8 {
    background-position: 0 -196px;
}
.subnav-entry li .subnav-entry-icon-icon9 {
    background-position: 0 -224px;
}
.subnav-entry li .subnav-entry-icon-icon10 {
    background-position: 0 -252px;
}

/* 活动模块 sale-box => sales-head => sales-body*/
.sales-box {
    border-top: 1px solid #bbb;
    background-color: #fff;
    margin: 2px 8px;
}

.sales-head {
    position: relative;
    height: 40px;
    border-bottom: 1px solid #ccc;
}

/* 隐藏h2中的字 */
.sales-head h2 {
    position: relative;
    text-indent: -999px;
    overflow: hidden;
}

.sales-head h2::after {
    position: absolute;
    top: 2px;
    left: 20px;
    content: "";
    width: 79px;
    height: 15px;
    background: url(../images/un_home_text.png) no-repeat 0 -20px;
    background-size: 79px auto;
}

.more {
    position: absolute;
    right: 5px;
    top: 0;
    background: -webkit-linear-gradient(left, #FF506C, #FF6BC6);
    border-radius: 15px;
    padding: 3px 20px 3px 10px;
    font-size: 12px;
    color: #fff;
}

.more::after {
    content: "";
    position: absolute;
    top: 6px;
    right: 9px;
    width: 7px;
    height: 7px;
    /* 设置向右的小三角 利用边框旋转 */
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}

/* sales-body */
.row {
    display: flex;
}

.row a {
    flex: 1;
    border-bottom: 1px solid #eee;
}

.row a:nth-child(1) {
    border-right: 1px solid #ccc;
}

.row a img {
    width: 100%;
}